
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial black', sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #724faa;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1ex;
}

nav {
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #724faa;
}

li {
    padding: 1ex;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
label {
    width: 100%;
    border-left: #724faa;
}
table {
    width: 100%;
    border-collapse: inherit; 
    margin-top: 20px;
}

th, td {
    border: 3px solid #000000;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
footer {
    background-color: #724faa;
    color: white;
    text-align: center;
    padding: 1ex;
    position: fixed;
    bottom: 0;
    width: 100%;
}


